/* .homebox{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.nav{
  display: block;
  margin-right: 100px;
}

.bod{
  display: block;
  margin-right: 100px;
}

.hack{
  margin-left: 225px;
} */